<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /clock-in/public/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /clock-in/public/ [L]
</IfModule>